<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>emoJ </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <figure class="image is-48x48">
                    <img src="/media/logo.png" alt="">
                </figure>
                <h1 class="title has-text-weight-bold">
                    emoJ - data entry form
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form method="POST" action="{% url 'add' %}" enctype="multipart/form-data"> 
                <!-- {% url 'add' %} -->
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <!-- {{form.text}} -->
                        {{form.as_p}}
                        <!-- {{form.cover}} -->
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                </div>            
            </form>

            <!-- video recoding elemant. Have to get it to save images -->
            <!-- <video id="player" controls></video>
                <script>
                var player = document.getElementById('player');

                var handleSuccess = function(stream) {
                    player.srcObject = stream;
                };

                navigator.mediaDevices.getUserMedia({ audio: true, video: true }) 
                    .then(handleSuccess)
                </script> -->


        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>